* {
    box-sizing: border-box !important;
}

@font-face {
    font-family: 'ibm';
    font-style: normal;
    src: url('../font/IBMPlexSansKR-Regular.ttf');
}
/*** basic ***/

html,
body,
#app {
    box-sizing: border-box !important;
    height: 100%;
    width: 100%;
    min-height: 100vh !important;
    font-size: 100%;
    overflow: auto;
    margin: 0;
    background: rgb(47, 49, 54);
    color: rgb(128, 132, 137);
    font-family: 'ibm', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    display: block !important;
    font-weight: 500 !important;
    line-height: 1.25em;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

.no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.img-no-drag {
    -webkit-user-drag: none;
}

.bg-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 60;
}
.bg-img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    min-height: 1080px;
    -webkit-user-drag: none;
}
/*** input ***/
input {
    padding: 10px;
    background: rgb(49, 51, 57);
    border: 1px solid rgb(35, 38, 42);
    border-radius: 0.25rem;
    font-size: 16px;
}
input:focus {
    border: 1px solid rgb(113, 137, 218);
    outline: none;
}

select {
    padding: 10px;
    background-color: rgb(49, 51, 57);
    border: 1px solid rgb(35, 38, 42);
    border-radius: 0.25rem;
    font-size: 16px;
}

/*** overflow ***/
.overflow-h {
    overflow: hidden;
}
/*** A ***/
a {
}

.content-wrapper {
    height: 100%;
    min-height: 100%;
    position: relative;
}
.content-body {
    position: relative;
    height: 100%;
    z-index: 100;
}
.popup-login {
    top: calc(50% - 194px);
    left: calc(50% - 240px);
    margin: 0 auto;
    position: absolute;
}
.popup-register {
    top: calc(50% - 263px);
    left: calc(50% - 240px);
    margin: 0 auto;
    position: absolute;
}
.popup-login-container {
    width: 480px;
    height: auto;
    padding: 30px;
    background: rgb(54, 57, 63);
    border-radius: 0.25rem;
}

.home-logo {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}

/*** display ***/
.d-block {
    display: block !important;
}

/*** position ***/
.l-0 {
    left: 0 !important;
}
.r-0 {
    right: 0 !important;
}

/*** width ***/
.w-100 {
    width: 100% !important;
}
.w-120 {
    width: 120px !important;
}
.w-154 {
    width: 154px !important;
}

.w-30-per {
    width: 25% !important;
}
.w-35-per {
    width: 35% !important;
}
.w-100-per {
    width: 100% !important;
}

/*** text ***/
.text-ellipsis {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-center {
    text-align: center !important;
}
.text-italic {
    font-style: italic;
}

.text-white {
    color: white !important;
}
.text-red {
    color: red !important;
}
.text-info {
    color: rgb(114, 137, 218) !important;
}
.text-cyan {
    color: #26c6da !important;
}

.text-yellow {
    color: #f8c200 !important;
}

.text-gray {
    color: #8f9eb5 !important;
}

.text-blue {
    color: #42a5f5 !important;
}

.text-orange {
    color: #ffb74d !important;
}

.text-purple {
    color: #6b79c4 !important;
}
.text-brown {
    color: #795548 !important;
}

.text-salmon {
    color: #ee6e73 !important;
}

.text-bold {
    font-weight: bold;
}

.font-weight-600 {
    font-weight: 600;
}
.font-size-13 {
    font-size: 13px !important;
}
.font-size-15 {
    font-size: 15px !important;
}
.font-size-16 {
    font-size: 16px !important;
}
.font-size-20 {
    font-size: 20px !important;
}
.font-size-24 {
    font-size: 24px !important;
}
.font-size-30 {
    font-size: 30px !important;
}
.font-size-56 {
    font-size: 56px !important;
}

/*** margin ***/
.mb-5 {
    margin-bottom: 5px !important;
}
.mb-8 {
    margin-bottom: 8px !important;
}
.mb-15 {
    margin-bottom: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.ml-5 {
    margin-left: 5px !important;
}
.ml-13 {
    margin-left: 13px !important;
}
.ml-45 {
    margin-left: 45px !important;
}
.ml-2-per {
    margin-left: 2% !important;
}
.mr-5 {
    margin-right: 5px !important;
}
.mr-20 {
    margin-right: 20px !important;
}

/*** button ***/
.btn {
    position: relative;
    margin: 1px 1px;
    padding: 8px 15px;
    border-radius: 0.25rem;
    color: rgb(255, 255, 255) !important;
    font-size: 1rem;
    transition: color 0.5s, background-color 0.5s;
    letter-spacing: 0;
    box-shadow: none;
    border: none;
    outline: none;
}
.btn:disabled {
    opacity: 0.5;
}

.btn-primary {
    background-color: rgb(113, 137, 218);
}
.btn-primary:hover {
    background-color: rgb(90, 100, 200);
}

.btn-round {
    position: relative;
    margin: 1px 1px;
    padding: 8px 15px;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    transition: color 0.5s, background-color 0.5s;
    letter-spacing: 0;
    box-shadow: none;
    border: none;
    outline: none;
}
.btn-round-white {
    background-color: white;
    color: rgb(90, 100, 200);
}
.btn-round-white:hover {
    background-color: rgb(190, 194, 196);
}
/*** cursor ***/

.cursor-pointer {
    cursor: pointer;
}

/*** float ***/
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.clear-fix:after {
    content: '';
    display: block;
    clear: both;
}

.register-date {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

.dungdung {
    animation: slide-right 120s infinite both;
    z-index: 80;
}
.home-banner {
    position: relative;
    text-align: center;
    color: white;
    top: 200px;
    z-index: 100;
}
.home-banner-top {
    font-size: 56px;
}
.home-banner-desc {
    font-size: 16px;
}
.popup-home {
    display: none;
}

.channel-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: 100%;
}
.guild-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 72px !important;
    background-color: rgb(32, 34, 37);
}
.guild-nav-icon {
    width: 60px;
    padding: 10px;
    border-radius: 2rem;
}
.channel-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    width: 240px !important;
    height: 100% !important;
    background: rgb(47, 49, 54);
}
.channel-nav-top {
    height: 48px;
    text-align: left;
    padding: 14px 16px;
    color: white;
    font-size: 16px;
    border-bottom: 1px solid rgb(36, 41, 47);
}
.channel-nav-content {
    height: 100%;
    padding: 10px;
}
.channel-nav-name {
    padding: 5px;
    border-radius: 0.25rem;
    text-align: left;
}
.channel-nav-name:hover {
    background: rgb(55, 58, 62);
}
.chat-box {
    overflow: hidden;
    width: 100% !important;
    min-width: 300px;
    height: 100%;
    background: rgb(55, 57, 62);
}
.chat-logo {
    width: 40px !important;
    height: 40px !important;
    border-radius: 2rem;
}
.chat-box-top {
    top: 0;
    width: 100%;
    height: 48px !important;
    border-bottom: 1px solid rgb(44, 45, 49);
}
.chat-box-title {
    padding: 15px;
}

.chat-box-content {
    padding-top: 10px;
    height: calc(100% - 109px) !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.input-chat-box {
    bottom: 0;
    padding: 10px;
    width: 100%;
}
.chat-id {
    display: flex;
    justify-content: left;
    height: 42px;
    padding-left: 20px;
}
.chat-id:hover {
    background-color: rgb(50, 53, 59);
}
.input-chat {
    width: 100%;
    color: white;
}

/*
*
*  애니메이션 처리 !
*
 */
.bounce-enter-active {
    animation: bounce-in-top 0.5s;
}
.bounce-leave-to {
    animation: slide-out-top 0.5s;
}
.loading-leave-to {
    animation: fade-out 1s;
}

.fade-enter-active,
.fade-leave-active {
    transition-property: opacity;
    transition-duration: 0.1s;
}

.fade-enter-active {
    transition-delay: 0.1s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}
/*** animation ***/
@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-60px) scale(1.3);
        transform: translateY(-60px) scale(1.3);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    60% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    85% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
}

@keyframes slide-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    60% {
        opacity: 0.2;
    }
    100% {
        -webkit-transform: translateY(-60px) scale(1.3);
        transform: translateY(-60px) scale(1.3);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(5vw);
        transform: translateX(5vw);
        opacity: 0.1;
    }
    40% {
        opacity: 0.8;
    }
    90% {
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(90vw);
        transform: translateX(90vw);
        opacity: 0;
    }
}

/*** media query ***/

@media (max-width: 800px) {
    .popup-login {
        top: calc(50% - 194px);
        left: calc(50% - 200px);
        margin: 0 auto;
        position: absolute;
    }
    .popup-register {
        top: calc(50% - 263px);
        left: calc(50% - 200px);
        margin: 0 auto;
        position: absolute;
    }
    .popup-login-container {
        width: 400px;
        height: auto;
        padding: 30px;
        background: rgb(54, 57, 63);
        border-radius: 0.25rem;
    }
    .home-banner-top {
        font-size: 40px;
    }
    .popup-home {
        display: block;
    }
    .guild-nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        width: 10px !important;
    }
    .guild-nav-icon {
        width: 10px !important;
    }
    .channel-nav {
        width: 50px !important;
    }
    .account-logo-text {
        visibility: hidden;
    }
}

@media (max-width: 485px) {
    .popup-login {
        top: 0;
        left: 0;
        margin: 0 auto;
        position: absolute;
    }
    .popup-register {
        top: 0;
        left: 0;
        margin: 0 auto;
        position: absolute;
    }
    .popup-login-container {
        width: 100%;
        height: 100%;
        min-width: 340px;
        padding: 30px;
        background: rgb(54, 57, 63);
        border-radius: 0.25rem;
    }
    .home-banner-top {
        font-size: 35px;
    }
    .guild-nav {
        width: 10px !important;
    }
    .channel-nav {
        width: 50px !important;
    }
}

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
.rotate-center {
    -webkit-animation: rotate-center 0.6s ease-in-out infinite both;
    animation: rotate-center 0.6s ease-in-out infinite both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
